# Environment variables / secrets
.env

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test/cache files
.pytest_cache/

# Local data
*.tmp